@import "components/about";
@import "components/clients";
@import "components/common";
@import "components/features";
@import "components/footer";
@import "components/form-agreement";
@import "components/form-subscribe";
@import "components/hero";
@import "components/modal-wind";
@import "components/navigation";
@import "components/portfolio-buttons";
@import "components/portfolio-cards";
@import "components/team";
@import "utils/variables";
@import "utils/placeholders";

body {
  font-family: Roboto, sans-serif;
  margin: 0px;

  background-color: red;

  @media screen and (min-width: 480px) {
    background-color: orange;
  }

  @media screen and (min-width: 768px) {
    background-color: green;
  }

  @media screen and (min-width: 1200px) {
    background-color: white;
  }
}
