.about {
  display: none;
  padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.about-card-set {
  @extend %list;
  display: flex;
  margin-left: calc(-1 * var(--cards-gap));
}

.about-card-set__item {
  position: relative;

  flex-basis: calc(100% / 3 - var(--cards-gap));
  margin-left: var(--cards-gap);
}

.about-card-set__text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  & p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
