/* advantages */

.advantages {
  // &.section {
  //   @media screen and (max-width:1199px) {
  //     padding-bottom: 0;
  //   }
  // }

  & .section__title {
    display: none;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * #{$card-set-gap});
    margin-bottom: calc(-1 * #{$card-set-gap});
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  margin-bottom: $card-set-gap;

  @media screen and (min-width: 768px) {
    margin-left: $card-set-gap;
    width: calc((100% - 2 * #{$card-set-gap}) / 2);
  }

  @media screen and (min-width: 1200px) {
    & + & {
      margin-left: 30px;
    }
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.advantages__thumb {
  display: flex;
  justify-content: center;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: $card-set-gap;

  background-color: $third-bg-color;
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.advantage__icon {
  --main-color: #{$title-text-color};
  --accent-color: #{$accent-color};
}
