.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-list__item {
  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-right: 70px;
    }

    &:nth-child(2) {
      margin-right: 93px;
    }
  }
}

.footer-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    padding-top: 12px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;

  & span {
    color: var(--accents);
  }
}

.footer-list-contacts {
  @extend %list;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__emailtel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__map {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.social-list {
  @extend %list;

  .footer-list & {
    display: flex;
    padding: 0px;
  }

  .footer-list__item &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  background: rgba(255, 255, 255, 0.1);

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  .footer-list__item & {
    fill: #ffffff;
  }
}

.footer-form {
  @media screen and (min-width: 768px) {
    width: 574px;
  }
}

.footer-form__input {
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }

  width: 358px;
  height: 50px;
  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 16px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  background: var(--accents);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;

  &::after {
    content: "";
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url("../images/send-icon.svg");
    background-size: contain;
  }
}
