/* footer */
// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: $secondary-bg-color;
// }

// .footer-content {
//   display: flex;
//   justify-content: space-between;
// }

// .address-container {
//   margin-right: auto;
// }

// .footer__logo {
//   display: inline-block;
//   margin-bottom: 20px;
//   color: $primary-white-color;
// }

// .footer__text {
//   margin-bottom: 9px;
//   color: $primary-white-color;
//   font-style: normal;
// }

// .footer-contacts__link {
//   display: block;
//   color: $footer-contacts-color;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.71;

//   &:first-child {
//     margin-bottom: 9px;
//   }

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .footer-social__link {
//   background-color: rgba(255, 255, 255, 0.1);

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// .footer-social__icon {
//   fill: $primary-white-color;
// }

// .footer-container {
//   padding-top: 12px;
// }

// .footer-container__title {
//   margin-bottom: 20px;
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 1.14;
//   text-transform: uppercase;
//   color: $primary-white-color;
// }

// .footer-subscribe {
//   margin-left: 93px;
// }

// .subscribe-form__title {
//   display: inline-block;
// }

// .subscribe-form__email {
//   width: 358px;
//   margin-right: 12px;
//   padding: 15px 16px 15px 16px;

//   background-color: transparent;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   color: rgba(255, 255, 255, 0.6);

//   &::placeholder {
//     font-size: 16px;
//     line-height: 1.25;

//     color: rgba(255, 255, 255, 0.6);
//   }
// }

// .subscribe-form__button {
//   display: inline-flex;
//   justify-content: center;
//   width: 200px;
//   padding: 10px 29px 10px 28px;

//   background: $accent-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   cursor: pointer;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

//   color: $primary-white-color;
// }

// .subscribe-form__text {
//   margin-right: 10px;
// }
