/* menu-burger */

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;

  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      position: fixed;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      display: flex;
      flex-direction: column;

      padding: 48px 40px 48px 40px;

      background-color: $primary-white-color;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
    }

    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.menu-social {
  margin-top: 64px;
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-social-set {
  display: flex;
}

.menu-social__item {
  &:not(:first-child) {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: $accent-color;
}

.menu-icon__burger {
  --main-color: #{$logo-color};

  .menu-button.is-open & {
    display: none;
  }
}

.menu-icon__cross {
  .menu-button.is-open & {
    display: block;
  }

  --main-color: #{$title-text-color};
}

.menu-icon__burger,
.menu-icon__cross {
  .menu-button:hover &,
  .menu-button:focus & {
    --main-color: #{$accent-color};
  }
}
