.header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.header-logo {
  @media screen and (min-width: 480px) {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.header-logo span {
  color: var(--accents);
}

.navigation {
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media screen and (min-width: 480px) {
    height: 59px;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.site-nav {
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    padding-bottom: 0px;
  }
}

.site-nav__item {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 52px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 31px;

    &:not(:last-child) {
      padding-top: 33px;
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 33px;
    padding-bottom: 31px;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:last-child {
      padding-top: 0;
    }
  }
}

.site-nav__link {
  @media screen and (min-width: 480px) {
    position: relative;

    font-size: 18px;
    line-height: 1.16;

    &.current::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accents);

      margin-top: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;

    font-size: 14px;
    line-height: 1.17;

    &.current::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accents);

      margin-top: 28px;
    }

    &:hover,
    &:focus {
      color: var(--accents);
    }
  }
}

.address {
  @media screen and (min-width: 768px) {
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 84px;
    padding-top: 33px;
    padding-bottom: 21px;
  }
}

.address-nav {
  @extend %list;

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.address-nav__item {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: left;

    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.address-nav__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  width: 16px;
  height: 16px;

  .address-nav__link:hover &,
  .address-nav__link:focus & {
    fill: var(--accents);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
  }

  &:hover,
  &:focus {
    color: var(--accents);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accents);
  }
}

.menu-button {
  position: absolute;
  right: 15px;
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-cross {
  .menu-button & {
    display: none;
  }

  .menu-button.is-open & {
    display: block;
  }
}

.icon-menu {
  .menu-button.is-open & {
    display: none;
  }
}

.menu {
  z-index: 1;
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 60px;

    background: #ffffff;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
