.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-set {
  @extend %list;

  @media screen and (min-width: 480px) {
    display: inline;
    justify-content: left;

    margin-bottom: 50px;

    &__item {
      display: inline-block;
      margin-bottom: 15px;
    }

    &__item:nth-child(4),
    &__item:nth-child(5) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

    &__item:not(:last-child) {
      margin-right: 8px;
    }

    &__item:nth-child(4),
    &__item:nth-child(5) {
      margin-bottom: 0px;
    }
  }
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;

  border: none;
  border-radius: 4px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accents);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
