.portfolio {
  @media screen and (min-width: 480) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-set {
  @extend %list;

  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button {
  padding: 6px 22px;
  min-width: 38px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;

  border: none;
  border-radius: 4px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accents);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
