/* team */
// .team {
//   background-color: $third-bg-color;
// }

// .team__list {
//   display: flex;
// }

// .team__item {
//   text-align: center;
//   background-color: $primary-white-color;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;

//   & + & {
//     margin-left: $card-set-gap;
//   }
// }

// .team__image {
//   display: block;
// }

// .team-content {
//   padding: 30px 32px 30px 32px;
// }

// .team-content__title {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   margin-bottom: 10px;
// }

// .team-content__text {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.19;
//   margin-bottom: 16px;
// }

// /* social-list */
// .social__list {
//   display: flex;
//   justify-content: center;
// }

// .social__item {
//   & + & {
//     margin-left: 10px;
//   }
// }

// .social__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   transition-property: background-color;
//   transition-duration: 250ms;
//   transition-timing-function: $timing-function;

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// .social__icon {
//   fill: $icon-color;

//   .social__link:hover &,
//   .social__link:focus & {
//     fill: $primary-white-color;
//   }
// }
